[submodule "website/themes/book"]
	path = website/themes/book
	url = https://github.com/alex-shpak/hugo-book
[submodule "website/static/src"]
	path = website/static/src
	url = git@github.com:tombenke/cayley-cookbook-src.git
