# Binaries for programs and plugins
main
*.exe
*.exe~
*.dll
*.so
*.dylib

# Cayley databases in internal for faster loading
*.pquads

# Test binary, built with `go test -c`
*.test

# Dependency directories (remove the comment below to include it)
dist/
vendor/

# Local environment settings
.local.env


